In [1]:
# %pip install streamlit

In [1]:
import pandas as pd
import numpy as np

# import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv("/Users/macbookpro/Documents/DataBricks_Project/Personal_CreditScore/src/Personal_CreditScore/Kaggle_GiveMeSomeCredit/src/backend/data/cs_test.csv")

In [4]:
import pandas as pd
import numpy as np

def synthesize_bureau_fields(df: pd.DataFrame, seed: int = 42) -> pd.DataFrame:
    np.random.seed(seed)

    df = df.copy()

    # --- 1. Reverse calculate Total Obligations from DebtRatio & MonthlyIncome ---
    df["TotalObligation"] = (df["DebtRatio"] * df["MonthlyIncome"]).fillna(0).astype(int)

    # --- 2. Split NumberOfOpenCreditLinesAndLoans into secured/unsecured ---
    total_open = df["NumberOfOpenCreditLinesAndLoans"].fillna(0).astype(int)

    df["TotalUnsecuredLoans"] = (total_open * np.random.uniform(0.5, 0.7, size=len(df))).astype(int)
    df["TotalSecuredLoans"] = (total_open - df["TotalUnsecuredLoans"]).astype(int)

    # --- 2a. Split unsecured into credit cards, personal loans, BNPL, others ---
    unsecured = df["TotalUnsecuredLoans"]
    weights_unsecured = np.random.dirichlet([4, 2, 2, 1], size=len(df))
    df["CreditCards"] = (unsecured * weights_unsecured[:, 0]).astype(int)
    df["PersonalLoans"] = (unsecured * weights_unsecured[:, 1]).astype(int)
    df["BNPLLoans"] = (unsecured * weights_unsecured[:, 2]).astype(int)
    df["OtherUnsecured"] = (unsecured - (df["CreditCards"] + df["PersonalLoans"] + df["BNPLLoans"])).astype(int)

    # --- 2b. Split secured into real estate, gold, vehicle, others ---
    secured = df["TotalSecuredLoans"]
    weights_secured = np.random.dirichlet([3, 2, 2, 1], size=len(df))
    df["RealEstateLoans"] = (secured * weights_secured[:, 0]).astype(int)
    df["GoldLoans"] = (secured * weights_secured[:, 1]).astype(int)
    df["VehicleLoans"] = (secured * weights_secured[:, 2]).astype(int)
    df["OtherSecured"] = (secured - (df["RealEstateLoans"] + df["GoldLoans"] + df["VehicleLoans"])).astype(int)

    # --- 3. Add synthetic bureau-style indicators ---
    df["HasDelinquencyHistory"] = ((df["NumberOfTime30_59DaysPastDueNotWorse"] + 
                                    df["NumberOfTimes90DaysLate"] + 
                                    df["NumberOfTime60_89DaysPastDueNotWorse"]) > 0).astype(int)

    df["DependentsFlag"] = (df["NumberOfDependents"].fillna(0) > 0).astype(int)

    # --- 4. New fields ---
    # Random utilization ratio between 0 and 1
    df["TotalLoanUtilization"] = np.random.uniform(0, 1, size=len(df))

    # Bureau vintage between 1 and (age - 18), ensuring valid upper bound
    df["BureauVintage"] = [
        np.random.randint(1, max(2, age - 18)) if age > 18 else 1
        for age in df["age"]
    ]

    # Number of enquiries in last 6 months (0 to 60)
    df["NumberOfEnquiriesInLast6Months"] = np.random.randint(0, 61, size=len(df))

    return df

In [5]:
df_synth = synthesize_bureau_fields(df)

In [6]:
df.head(5)

,Identifier,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse,NumberOfDependents
0,1,0.885519,43,0,0.177513,5700,4,0,0,0,0
1,2,0.463295,57,0,0.527237,9141,15,0,4,0,2
2,3,0.043275,59,0,0.687648,5083,12,0,1,0,2
3,4,0.280308,38,1,0.925961,3200,7,0,2,0,0
4,5,1.000000,27,0,0.019917,3865,4,0,0,0,1

In [7]:
df_synth.head(5)

,Identifier,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse,NumberOfDependents,TotalObligation,TotalUnsecuredLoans,TotalSecuredLoans,CreditCards,PersonalLoans,BNPLLoans,OtherUnsecured,RealEstateLoans,GoldLoans,VehicleLoans,OtherSecured,HasDelinquencyHistory,DependentsFlag,TotalLoanUtilization,BureauVintage,NumberOfEnquiriesInLast6Months
0,1,0.885519,43,0,0.177513,5700,4,0,0,0,0,1011,2,2,0,0,0,2,0,0,0,2,0,0,0.611610,5,37
1,2,0.463295,57,0,0.527237,9141,15,0,4,0,2,4819,10,5,5,1,2,2,2,1,1,1,0,1,0.400901,7,39
2,3,0.043275,59,0,0.687648,5083,12,0,1,0,2,3495,7,5,3,0,2,2,1,0,0,4,0,1,0.575468,2,14
3,4,0.280308,38,1,0.925961,3200,7,0,2,0,0,2963,4,3,0,1,0,3,1,0,0,2,1,0,0.705886,16,59
4,5,1.000000,27,0,0.019917,3865,4,0,0,0,1,76,2,2,0,0,0,2,0,0,0,2,0,1,0.752886,7,19

In [8]:
df_synth.to_csv("/Users/macbookpro/Documents/DataBricks_Project/Personal_CreditScore/src/Personal_CreditScore/Kaggle_GiveMeSomeCredit/src/backend/data/cs_test_synth.csv")

In [9]:
# st.title("üìä Client Credit Bureau Dashboard (Prototype)")

# client_id = st.selectbox("Select Client ID", df_synth["Identifier"])
# row = df_synth[df_synth["Identifier"] == client_id].iloc[0]

# # --- Section 1: Obligations ---
# st.subheader("üí∞ Total Obligations")
# st.metric("Total Obligation", f"SAR {row['TotalObligation']}")

# # --- Section 2: Loan Composition ---
# st.subheader("üè¶ Loan Portfolio Breakdown")

# loan_types = ["CreditCards", "PersonalLoans", "BNPLLoans", "OtherUnsecured",
#               "RealEstateLoans", "GoldLoans", "VehicleLoans", "OtherSecured"]

# values = [row[col] for col in loan_types]
# fig, ax = plt.subplots()
# ax.pie(values, labels=loan_types, autopct="%1.0f%%", startangle=90)
# ax.axis("equal")
# st.pyplot(fig)

# # --- Section 3: Risk Indicators ---
# st.subheader("‚ö†Ô∏è Risk Indicators")
# st.write(f"Has Delinquency History: {'Yes' if row['HasDelinquencyHistory'] else 'No'}")
# st.write(f"Dependents Present: {'Yes' if row['DependentsFlag'] else 'No'}")

In [6]:
df_synth = pd.read_csv("/Users/macbookpro/Documents/DataBricks_Project/Personal_CreditScore/src/Personal_CreditScore/Kaggle_GiveMeSomeCredit/src/backend/data/cs_test_synth.csv")

In [8]:
df_synth_1 = pd.read_parquet("/Users/macbookpro/Documents/DataBricks_Project/Personal_CreditScore/src/Personal_CreditScore/Kaggle_GiveMeSomeCredit/src/backend/data/train_predictions.parquet")

In [10]:
df_synth_1.head(5)

      score  label
0  0.897579      1
1  0.649301      0
2  0.897299      0
3  0.296437      0
4  0.630235      0

In [10]:
df_synth.iloc[1, :].to_dict()

{'Identifier': 2.0,
 'RevolvingUtilizationOfUnsecuredLines': 0.463295269,
 'age': 57.0,
 'NumberOfTime30_59DaysPastDueNotWorse': 0.0,
 'DebtRatio': 0.527236928,
 'MonthlyIncome': 9141.0,
 'NumberOfOpenCreditLinesAndLoans': 15.0,
 'NumberOfTimes90DaysLate': 0.0,
 'NumberRealEstateLoansOrLines': 4.0,
 'NumberOfTime60_89DaysPastDueNotWorse': 0.0,
 'NumberOfDependents': 2.0,
 'TotalObligation': 4819.0,
 'TotalUnsecuredLoans': 10.0,
 'TotalSecuredLoans': 5.0,
 'CreditCards': 5.0,
 'PersonalLoans': 1.0,
 'BNPLLoans': 2.0,
 'OtherUnsecured': 2.0,
 'RealEstateLoans': 2.0,
 'GoldLoans': 1.0,
 'VehicleLoans': 1.0,
 'OtherSecured': 1.0,
 'HasDelinquencyHistory': 0.0,
 'DependentsFlag': 1.0,
 'TotalLoanUtilization': 0.40090107846413403,
 'BureauVintage': 7.0,
 'NumberOfEnquiriesInLast6Months': 39.0}

# Making Batch predictions

In [2]:
import mlflow
import os

In [3]:
df = pd.read_csv("/Users/macbookpro/Documents/DataBricks_Project/Personal_CreditScore/src/Personal_CreditScore/Kaggle_GiveMeSomeCredit/src/backend/data/cs_test_synth.csv")

In [5]:
MODEL_URI = "models:/adityaspersonal.default.CreditRiskModel@Production"

os.environ["DATABRICKS_HOST"] = "https://adb-4193764046904389.9.azuredatabricks.net/"
os.environ["DATABRICKS_TOKEN"] = "dapiaf46e00fddfe4ab521aa1e67ae23cd40"
mlflow.set_registry_uri("databricks-uc")
model = mlflow.pyfunc.load_model(MODEL_URI)

Downloading artifacts:  33%|‚ñà‚ñà‚ñà‚ñé      | 4/12 [00:01<00:03,  2.45it/s]  WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: dbstoragenqebgjrb7p4cq.dfs.core.windows.net. Connection pool size: 10
Downloading artifacts: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 12/12 [00:07<00:00,  1.65it/s]

In [6]:
MODEL_FEATURES = [
    'RevolvingUtilizationOfUnsecuredLines',
    'age',
    'NumberOfTime30_59DaysPastDueNotWorse',
    'DebtRatio',
    'MonthlyIncome',
    'NumberOfOpenCreditLinesAndLoans',
    'NumberOfTimes90DaysLate',
    'NumberRealEstateLoansOrLines',
    'NumberOfTime60_89DaysPastDueNotWorse',
    'NumberOfDependents'
]
schema = {f: 'float' for f in MODEL_FEATURES}

In [7]:
X = df[MODEL_FEATURES].astype(schema, errors="ignore")

In [8]:
X, explainer, pred = model.predict(X)

In [9]:
df[['probability', 'log_odds', 'credit_score']] = pred[['probability', 'log_odds', 'credit_score']]

In [10]:
df['probability'] = 1 - df['probability']
df = df.sort_values("probability", ascending=False)

In [11]:
df.shape

(101503, 31)

In [12]:
df['credit_score'].describe(percentiles=[0.1, 0.2, 0.33, 0.4, 0.5, 0.66, 0.7, 0.8, 0.9])

count    101503.000000
mean        650.849304
std          68.801857
min         409.555359
10%         553.495288
20%         594.790186
33%         628.143668
40%         644.486414
50%         665.877625
66%         691.985344
70%         697.482739
80%         711.041016
90%         727.132532
max         768.954651
Name: credit_score, dtype: float64

In [13]:
df['probability'].describe(percentiles=[0.1, 0.2, 0.33, 0.4, 0.5, 0.66, 0.7, 0.8, 0.9])

count    101503.000000
mean          0.691087
std           0.248689
min           0.021692
10%           0.282906
20%           0.473975
33%           0.637117
40%           0.708834
50%           0.788774
66%           0.862914
70%           0.875409
80%           0.902104
90%           0.927078
max           0.967045
Name: probability, dtype: float64

In [14]:
df_final = pd.concat([df.head(10), df.iloc[50000:50010, :],df.tail(10)])

In [15]:
# Drop the old 'identifier' column if it exists
df_final = df_final.drop(columns=["Identifier"], errors="ignore")

# Add new 'Identifier' column from 1 to number of rows
df_final["Identifier"] = range(1, df_final.shape[0] + 1)

In [17]:
df_final.to_parquet("data/train_predictions_1.parquet")

In [16]:
df_final.head(5)

,Unnamed: 0,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30_59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60_89DaysPastDueNotWorse,NumberOfDependents,TotalObligation,TotalUnsecuredLoans,TotalSecuredLoans,CreditCards,PersonalLoans,BNPLLoans,OtherUnsecured,RealEstateLoans,GoldLoans,VehicleLoans,OtherSecured,HasDelinquencyHistory,DependentsFlag,TotalLoanUtilization,BureauVintage,NumberOfEnquiriesInLast6Months,probability,log_odds,credit_score,Identifier
41150,41150,0.007274,67,0,0.098372,10500,5,0,1,0,0,1032,3,2,1,0,0,2,1,0,0,1,0,0,0.238704,18,18,0.967045,3.379093,768.954651,1
61379,61379,0.034586,68,0,0.087325,10500,5,0,1,0,0,916,2,3,0,0,0,2,0,1,0,2,0,0,0.484326,6,4,0.966849,3.372965,768.648254,2
62567,62567,0.005275,82,0,0.096717,11300,5,0,1,0,0,1092,3,2,0,0,0,3,0,0,0,2,0,0,0.365823,57,7,0.965149,3.321186,766.059326,3
65274,65274,0.027395,74,0,0.002000,10500,3,0,0,0,0,20,1,2,0,0,0,1,0,0,0,2,0,0,0.624643,49,46,0.964878,3.313174,765.658691,4
17791,17791,0.005578,71,0,0.000667,10500,5,0,0,0,0,6,2,3,0,0,0,2,0,0,2,1,0,0,0.440734,12,49,0.964463,3.301002,765.050110,5

# Adding sample IDs

In [2]:
start = 1001101
count = 30
sample_ids = [start + i for i in range(count)]

In [2]:
df_lean = pd.read_csv("/Users/macbookpro/Documents/DataBricks_Project/Personal_CreditScore/src/Personal_CreditScore/Kaggle_GiveMeSomeCredit/src/backend/data/saudi_lean_customers_enriched.csv")
df_customers = pd.read_parquet("/Users/macbookpro/Documents/DataBricks_Project/Personal_CreditScore/src/Personal_CreditScore/Kaggle_GiveMeSomeCredit/src/backend/data/train_predictions_1.parquet")

In [3]:
df_lean.shape, df_customers.shape

((30, 18), (30, 31))

In [5]:
df_lean.head(2)

,Unnamed: 0,CustomerID,FullName,DateOfBirth,Gender,Employer,EmploymentType,TotalInflows,TotalOutflows,AverageMonthlyInflows,AverageMonthlyOutflows,NetPosition,MonthlySalaryDeducted,JudiciaryCaseCount,JudiciaryCaseFlag,JudiciaryCaseDetails,TravelBan,LegalRestrictions
0,0,1001101,Rima Al-Saud,28-Oct-76,Female,Al Rajhi Bank,Salaried,82347,65662.16,6862.25,5471.85,16684.84,29325,0,False,Not Applicable,False,Not Applicable
1,1,1001102,Rima bint Hamad Al-Qahtani,3-Mar-67,Female,SABIC,Salaried,106547,64884.60,8878.92,5407.05,41662.40,20102,2,True,"ENF-2024-13890, Debt Enforcement, SAR 40740",False,Enforcement Order

In [7]:
df_lean['CustomerID'] = sample_ids

In [10]:
df_customers['Identifier'] = sample_ids

In [12]:
df_lean.to_csv("/Users/macbookpro/Documents/DataBricks_Project/Personal_CreditScore/src/Personal_CreditScore/Kaggle_GiveMeSomeCredit/src/backend/data/saudi_lean_customers_enriched.csv")

In [13]:
df_customers.to_parquet("/Users/macbookpro/Documents/DataBricks_Project/Personal_CreditScore/src/Personal_CreditScore/Kaggle_GiveMeSomeCredit/src/backend/data/train_predictions_1.parquet")